<div id="new-collection-modal" class="reveal-modal medium" data-reveal>
	<div class="row">
		<div class="large-12 columns">
			<input id="collection-name-input" type="text" placeholder="Enter collection name here">
			<label>API List</label>
			<div id="api-picker"></div>
			<button id="make-collection-btn">Make Collection</button>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>