<div id="collection-model" class="reveal-modal medium" data-reveal>
	<h2>This is where all the api handling goes</h2>
	<a class="close-reveal-modal">&#215;</a>
</div>
<div class="reveal-modal-bg" style="display: none"></div>
