<div id="collection-modal" class="reveal-modal medium" data-reveal>
	<div class="apiChoices">
		<span class="apiAuthenticate">Imgur</span>
		<span class="apiAuthenticate">Twitter</span>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
<div class="reveal-modal-bg" style="display: none"></div>
