<div class="contain-to-grid green-bottom-boarder">
	<nav class="tab-bar top-bar" data-topbar>

		<section class="left-small">
			<h1 style="margin-left:55px;"><a href="#" >Nemo</a></h1>
		</section>

		<section class="left-small left-shadow-boarder">
			<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
		</section>


		<ul class="title-area">
			<li class="name"></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="right">
				<li class="active"><a href="#" class="success radius button">Tailored</a></li>
				<li><a href="#">New</a></li>
				<li><a href="#">Favorites</a></li>
			<% if(user === undefined){ %>
				<li><a href="#" class="secondary button" data-reveal-id="signInModal">Sign In</a></li>
				<%- include sign-in-modal.ejs %>
			<% } else { %>
				<li class="has-dropdown">
					<a href="#" class="secondary button">Welcome <%= user.username %></a>
					<ul class="dropdown">
						<li><a href="/logout" class="secondary button" data-reveal-id="collection-modal">Manage Collections</a></li>
						<li><a href="/logout" class="alert button">Logout</a></li>
					</ul>
				</li>
				<%- include api-collections-model.ejs %>
			<% } %>
			</ul>
		</section>
	</nav>
</div>



<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Collections</label></li>
		<li><a href="#">Imgur</a></li>
	</ul>
</aside>

