<div id="sign-up-collection-modal" class="reveal-modal medium" data-reveal>
	<div class="row">
		<div class="large-12 columns">
			<label>Select Box</label>
			<input name="api-checkbox" id="checkbox1" type="checkbox" value="imgur"><label for="checkbox1">Imgur</label>
			<input name="api-checkbox" id="checkbox2" type="checkbox" value="twitter"><label for="checkbox2">Twitter</label>
			<button class="submit-sign-up">Submit</button>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
