<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>The Page</title>
	<meta name="description" content="title">
	<meta name="author" content="Marcelle">

	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<header>
		<nav class="topNav">
			<ul>
				<li><a href="#">Tailored</a></li>
				<li><a href="#">New</a></li>
				<li><a href="#">Favorites</a></li>
			</ul>
		</nav>
	</header>

	<!-- 
	<nav class="sideNav">
		<ul>
			<li><a href="#">All Content</a></li>
			<li><a href="#">Create New</a></li>
		</ul>
	</nav>
	-->
	<section class="main_content">
		<h3 class="page_mix_name">Imgur</h3>
		<%- body %>
	</section>
	<footer></footer>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>