<div class="contain-to-grid green-bottom-boarder">
	<nav class="tab-bar top-bar" data-topbar>

		<section class="left-small">
			<h1 style="margin-left:55px;">Nemo</h1>
		</section>

		<section class="left-small left-shadow-boarder">
			<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
		</section>


		<ul class="title-area">
			<li class="name"></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="right">
				<li class="active"><a href="#" class="success radius button">Tailored</a></li>
				<li><a href="#" >New</a></li>
				<li><a href="#" >Favorites</a></li>
				<li><a href="#" class="secondary button">Sign In</a></li>
			</ul>
		</section>

	</nav>
</div>

<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>APIs</label></li>
		<li><a href="#">Imgur</a></li>
	</ul>
</aside>