<% layout('base') -%>

<% for (var i in theBody) {%>
	<div class="post">
		<img src="http://i.imgur.com/<%= theBody[i].id %>s.jpg">
		<br>
		<span class="caption"><%= theBody[i].title %></span>
	</div>
<% } %>