<% layout('base') -%>
<% for(var i = 0; i < theBody.length; i++) {%>
	<% for(var j = 0; j < theBody[i].length; j++) {%>
		<% var post = theBody[i][j]; %>
		<div class="row post">
			<%- post %>
		</div>
	<% } %>
<% } %>