/*Hack to disable double tap zoom in*/
html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.main-section{
	background-color: #121211;
	height: 100vh;
	width: 100vw;
	overflow:scroll;
}

.left-shadow-boarder{
	border-left: solid 1px #1a1a1a;
	box-shadow: 1px 0 0 #4d4d4d;
}

.green-bottom-boarder{
	border-bottom: 5px solid #5da423;
}

.white{
	background-color: white;
}

.post{
	background: white;
	padding: 2em;
}