/*Hack to disable double tap zoom in*/
html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.main-section{
	/*background-color: #121211; */ /*original*/
	/*background-color: #333333;*/
	background-image: url('../images/Background.png');
	height: 100vh;
	width: 100vw;
	overflow: scroll;
}

.left-shadow-border{
	border-left: solid 1px #1a1a1a;
	box-shadow: 1px 0 0 #4d4d4d;
}

.green-bottom-border{
	border-bottom: 5px solid #d8be35;
}

.white{
	background-color: white;
}

.post{
	background: white;
	padding: 1em;
	margin: .75em;
	border-radius: 3px;
	border: 1px solid #d86d35;
}

.side-panel-active{
	background-color: black;
}

#signinbutton{
	margin-left: 3px; margin-right: 3px;
}
#blogfeed{
	margin-right: .5em;
}
.dropdown-button{
	background: black;
}

.header {
	height: 50px;
	color: white;
	text-align: center;
	border-bottom: 5px solid #d8be35;
	margin-bottom: 1em;
	margin-top: 0px;
}